$my-color: blue;
$fs-7: 0.8rem;
$fs-8: 0.6rem;


//<style scoped lang="scss">
//@import "@/styles/scss/app/_variables.scss"; // $my-color would be defined in that file
//
//.my-color {
//  color: $my-color;
//}
//</style>